@import "./../variables/color.scss";


header {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $dark;
    color: #fff;
    display: flex;
    nav {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 20px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}