<nav>
	<ul>
		<li><a href="{{site_url}}">Home</a></li>
		<li><a href="element">Element</a></li>
		<li><a href="article">Article</a></li>
		<li><a href="category">Category</a></li>
		<li><a href="{% if is_connected %}login?action=logout{% else %}login{% endif %}">{% if is_connected %}{{admin_name}}{% else %}Login{% endif %}</a></li>
	</ul>
</nav>
