<nav>
	<ul>
		<li><a href="/~burkle/SAE_301_CMS/">Home</a></li>
		<li><a href="element">Element</a></li>
		<li><a href="article">Article</a></li>
		<li><a href="category">Category</a></li>
	</ul>
</nav>
