RewriteEngine On
RewriteBase /mini-sites/sauvage/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

AddType image/svg+xml svg svgz
<IfModule mod_deflate.c>
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "image/svg+xml" \
        "text/css" \
        "text/html" \
        "text/javascript"
        ... etc
    </IfModule>
</IfModule>