{% for article in article %}
  <div class="article {{article.class}}" >
  <h1>{{article.title}}</h1>
  <h2>{{article.subtitle}}</h2>
  {% for item in article.items %}
    {% if item.element %}
      {% set element = item.element %}
      {% include "display/display_elements.html.twig" %}
    {% endif %}
    {% if item.block %}
      {% set blocks = item.block %}
      {% include "display/display_blocks.html.twig" %}
    {% endif %}
  {% endfor %}
  </div>
{% endfor %}