{% for article in article %}
  <div class="article {{article.class}}" >
    <h1>{{article.title}}</h1>
    <h2>{{article.subtitle}}</h2>
    {% for element in article.elements %}
      {% include "display/display_elements.html.twig" %}
    {% endfor %}
  </div>
{% endfor %}