
{% extends 'page.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

    <div class="login-container">
        <div class="inscription">
            <h1>Formulaire d'inscription</h1>
            <hr>
            <form method="post" action="process_inscription.php">
                <div class="form-group">
                    <label for="username">Nom d'utilisateur :</label>
                    <input type="text" id="username" name="username" value="{{ last_username }}" required autofocus>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="mdp_user" name="mdp_user" required>
                </div>

                <div class="form-compte">
                    <legend>Confirmer le Mdp :</legend>
                    <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Mot de passe" autocomplete="off" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
            </form>
            <p>Vous avez déjà un compte ? <a href="connexion.php">Connectez-vous</a></p>
        </div>
    </div>

{% endblock %}
