{% extends "page.html.twig" %}

{% block title %}ReadAll{% endblock %}

{% block content %}

    <h1>ReadAll</h1>
    {% if element %}
        {% for element in element %}
            {% include 'affichage/affichage_readall.html.twig' %}
        {% endfor %}
    {% elseif article %}
        {% for article in article %}
            {% if article.h1 %}
                <h1>{{ article.h1 }}</h1>
            {% endif %}
            {% if article.h2 %}
                <h2>{{ article.h2 }}</h2>
            {% endif %}
            {% if article.elements %}
                {% for element in article.elements %}
                    {% include 'affichage/affichage_readall.html.twig' %}
                {% endfor %}
            {% else %}
                <p>Aucun contenu existant pour cet article</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Aucun articles existant</p>
    {% endif %}
    

{% endblock %}
