{% extends "page.html.twig" %}

{% block content %}
	<h1>Page Régions</h1>

	<h2>Zones activées :</h2>

	{% for region in regions %}
    {% if region.affichage %}
					<div>{{ region.nom_region }}</div>
    {% endif %}
	{% endfor %}

	<h2>Plus de zones :</h2>

	<form>
    {% for region in regions %}
      <div class="form-group">
        <input type="checkbox" id="{{region.nom_region}}" {% if region.affichage %} checked {% endif %}>
        <label for="{{region.nom_region}}">{{region.nom_region}}</label>
      </div>
    {% endfor %}
		<input type="submit" value="Enregistrer">
	</form>

{% endblock %}
