@import "./../variables/color.scss";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    min-height: calc(100vh - 100px);
}

img {
    max-width: 100%;
}