@import "./../variables/color.scss";

// Permet de limiter le nombre de ligne dans la cellule
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}