@import "./../variables/color.scss";


.home-page {
    color: $color2;
    background-color: $color1;
    padding: 20px;

    .title {
        background-color: $color2;
        color: white;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}