
{% extends 'page.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}

    <div class="login-container">
        <div class="connexion">
            <h1>Formulaire de connexion</h1>
            <hr>
            <form method="post" action="login?action=login">
                <div class="form-group">
                    <label for="email">E-mail utilisateur :</label>
                    <input type="text" id="email" name="email" required autofocus>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe :</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
