{% extends "page.html.twig" %}

{% block title %}Découvrez !{% endblock %}

{% block content %}

    {% if element %}
      {% for element in element %}
        {% include "display/display_elements.html.twig" %}
      {% endfor %}
    {% elseif article %}
      {% for article in article %}
        {% include "display/display_articles.html.twig" %}
      {% endfor %}
    {% elseif category %}
      {% if category.category|length > 1 %}
        {% for category in category %}
          {% include "display/card/card_category.html.twig" %}
        {% endfor %}
      {% else %}
        {% for category in category %}
            {% include "display/display_category.html.twig" %}
        {% endfor %}
      {% endif %}
    {% elseif blocks %}
      <h1>Blocks</h1>
      {% for blocks in blocks %}
        {% include "display/display_blocks.html.twig" %}
      {% endfor %}
    {% else %}
        <p>Nothing to read</p>
    {% endif %}

{% endblock %}
