{% extends "page.html.twig" %}

{% block title %}Découvrez !{% endblock %}

{% block content %}
    {% if element %}
      {% for element in element %}
        {% include "display/display_elements.html.twig" %}
      {% endfor %}
    {% elseif article %}
      {% for article in article %}
        {% include "display/display_articles.html.twig" %}
      {% endfor %}
    {% elseif category %}
      {% include "display/display_category.html.twig" %}
    {% elseif blocks %}
      {% for blocks in blocks %}
        {% include "display/display_blocks.html.twig" %}
      {% endfor %}
    {% else %}
        <p>Rien à afficher</p>
    {% endif %}
{% endblock %}
