@import "./../variables/color.scss";

.article {
    &.card {
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        max-width: 450px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;

        .content {
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p, h2 {
                color : $color2;
            }

            a {
                color: $color2;
                background-color: $color1;
                width: fit-content;
                padding: 15px 45px;
                font-weight: bold;

                &:hover {
                    color: $color1;
                    background-color: $color2;
                }
            }
        }
    }

    &.full {
        background-color: $color1;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .article-info {
            background-color: $color2;
            color: white;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        a {
            display: inline-block;
            color: $color1;
            background-color: $color2;
            width: fit-content;
            padding: 15px 45px;
            font-weight: bold;
    
            &:hover {
                color: $color2;
                background-color: $color1;
            }
        }

        figure {
            max-width: 60%;
            
            figcaption {
                background-color: $color2;
                color: white;
                width: calc(100% - 20px);
                padding: 10px;
            }
        }

        video {
            margin: auto;
            display: block;
        }

        img {
            margin: auto;
        }
    }


}

.article-banner {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .alignement-article-banner {
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        margin: auto;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: row;

        h1 {
            color: white;
            text-align: center;
            padding: 20px;
            width: fit-content;
        }

        a {
            text-decoration: none;
        }
    }
}

.nav-article {
    display: block;
    background-color: black;
    width: fit-content;
    padding: 20px;
    border-radius: 200px;

    ul {
        margin: auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}