@import "./../variables/color.scss";

//les z index : 

$button: 14;
$titles: 13;
$p-item1_1: 11;
$p-item1_2: 10;
$p-item1_3: 9;
$p-item2_1: 8;
$p-item2_2: 7;
$p-item2_3: 6;
$p-item3_1: 5;
$p-item3_2: 4;
$p-item3_3 : 3;
$edito:2;
$fond: 1;

html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 40vh;
    height: 800vh;
}

.paralax {
    position: absolute;
    height: 100%;
    width: 100%;
}

.paralax-item {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

$p-item : 'p-item1_1', 'p-item1_2', 'p-item1_3', 'p-item2_1', 'p-item2_2', 'p-item2_3'  ;



.p-item1_1 {
    background-size: cover;
    background-position: center;
    z-index: $p-item1_1;
}
.p-item1_2 {
    background-size: cover;
    background-position: center;
    z-index: $p-item1_2;
}
.p-item1_3 {
    background-size: cover;
    background-position: center;
    z-index: $p-item1_3;
}
.p-item2_1 {
    background-size: cover;
    background-position: center;
    z-index: $p-item2_1;
}

.p-item2_2 {
    background-size: cover;
    background-position: center;
    z-index: $p-item2_2;
}
.p-item2_3 {
    background-size: cover;
    background-position: center;
    z-index: $p-item2_3;
}
.p-item3_1 {
    background-size: cover;
    background-position: center;
    z-index: $p-item3_1;
}

.p-item3_2 {
    background-size: cover;
    background-position: center;
    z-index: $p-item3_2;
}
.p-item3_3 {
    background-size: cover;
    background-position: center;
    z-index: $p-item3_3;
}


.titles{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: $titles;
}

.titre {
    width: fit-content;
    margin-left: 50%;
    transform: translate(-50%, 0);
    display: block;
    text-align: center;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

#button{
    height: 100vh;
    z-index: $button;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 40px;
    gap: 20px;
    button{
        cursor: pointer;
        z-index: 2;
        height: 120px;
        width: 70px;
        border: 4px solid white;
        left: 50%;
        bottom: 20px;
        border-radius: 50px;
        cursor: pointer;
        background-color: transparent;
    }
    .button::before,
    .button::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(45deg);
        border: 2px solid black;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
        }
        .scroll-down::before {
        top: 30%;
        animation-delay: 0.3s;
        animation: scroll-down 1s ease-in-out infinite;
    }
}

@keyframes scroll-down {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }  

.icone_cat{
    width: 50px;
    height: 50px;
    color: blue;
}

.link_to_article{
    width: fit-content;
    height: fit-content;
   display: block;
   z-index: 2;
   &:hover{
       cursor: pointer;
   }
}

.cat_svg{
    pointer-events: none;
    svg:hover{
        fill: red;
    }
}