.wrapper {
  margin: auto;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  padding: 30px 5rem;
  background-color: white;
}


@media (min-width: 1440px) {
    .wrapper {
        max-width: 1280px;
    }
} 