form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .group-form {
    display: flex;
    flex-direction: column;
  }
  .group-form-check {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}