<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    {% block page %}{% endblock %}
  <script src="./assets/js/main.js" type="module"></script
</body>
</html>