<div class="block deux-columns {{blocks.name}} {{blocks.class}}">
{% for element in blocks.elements %}
    <div class="block ">
        {% include "display/display_elements.html.twig" %}
    </div>
{% endfor %}
</div>