        <div class="admin-toolbar">
            <ul class="admin-toolbar-liste">
                <li class="admin-toolbar-liste-item">
                    <a href="#" class="admin-toolbar-liste-item-link">{{username}}</a>
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="index.php" class="admin-toolbar-liste-item-link">Accueil - Titre du site</a> 
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="index.php?page=element&action=read" class="admin-toolbar-liste-item-link">ReadAll</a> 
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="index.php?page=element&action=read&id=4" class="admin-toolbar-liste-item-link">ReadOne</a> 
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="index.php?page=element&action=readarticle&id=1" class="admin-toolbar-liste-item-link">ReadOne Article</a> 
                </li>
                <li class="admin-toolbar-liste-item">
                    <a href="index.php?page=element&action=readarticle" class="admin-toolbar-liste-item-link">ReadAll Article</a> 
                </li>
            </ul>
        </div>