@import './../../variables/color.scss';

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: $color2;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
