.galerie-image {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: nowrap;
    width: auto;
    margin: auto;
    align-items: center;

    .alignement {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
            width: 70%;
        }
    }


}