$width : 400px;

.swiper1 {
    width: $width;
    margin: auto;

    .swiper-wrapper {
        height: $width;
        width: $width;

        .swiper-slide {
            height: $width;
            width: $width;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            img {
                height: $width;
                width: $width;
            }
        }
    }
}