{% extends "page.html.twig" %}

{% block title %}Bienvenue !{% endblock %}

{% block content %}

    <div class="home-page">
        <video class="intro" autoplay controls>
            <source src="{{site_url}}public/src/uploads/Coccinelle-demoiselle.mp4" type="video/mp4">
        </video>
        <a class="skip-intro" href="{{site_url}}category">Passer l'introduction</a>
    </div>

{% endblock %}