<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{site_url}}public/src/logo.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{site_url}}dist/main.css">
</head>

<body>
  {% block page %}{% endblock %}
  {# <div class="cursor"></div>
  <div class="cursor2"></div> #}
  {% block script %}

  {% endblock %}
  {#
  <script src="{{site_url}}dist/main.js"></script> #}
</body>

</html>