<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{{site_url}}public/src/logo.png" />
  {% block style %}

  {% endblock %}
  <link rel="stylesheet" href="{{site_url}}dist/main.css">
  {% block head %}

  {% endblock %}

</head>

<body>
  {% block page %}{% endblock %}
  {% block script %}

  {% endblock %}

</body>

</html>