{% extends "./html.html.twig" %}

{% block title %}{% endblock %}

{% block page %}
    {# {% include './components/admin_toolbar.html.twig' %} #}
    {% include './components/header.html.twig' %}
    <main>
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include './components/footer.html.twig' %}
{% endblock %}